In [8]:
import pandas as pd
objS = pd.Series([4, 7, -5, 3]) #執行Series初始化動作
type(obj)

pandas.core.series.Series

In [9]:
import numpy as np
array = np.array([4, 7, -5, 3])#numpy top_level function
type(array)

numpy.ndarray

In [13]:
objS

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
objS.values #values是實體屬性

array([ 4,  7, -5,  3])

In [11]:
objS.dtype #dtype是實體屬性

dtype('int64')

In [12]:
objS.index #index是實體屬性

RangeIndex(start=0, stop=4, step=1)

In [14]:
objS2 = pd.Series([4, 7, -5, 3],index=['d', 'b', 'a' ,'c'])
objS2

d    4
b    7
a   -5
c    3
dtype: int64

In [15]:
objS2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [16]:
objS2['d']

4

In [17]:
objS2[['d','a','c']]

d    4
a   -5
c    3
dtype: int64

In [18]:
#數學運算
objS2

d    4
b    7
a   -5
c    3
dtype: int64

In [19]:
objS2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [21]:
#過濾資料
objS2[objS2 > 0]

d    4
b    7
c    3
dtype: int64

In [23]:
#numpy的function也可以用在pandas的實體
import numpy as np
np.power(objS2, 2)

d    16
b    49
a    25
c     9
dtype: int64

In [24]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
objS3 = pd.Series(sdata)
objS3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [25]:
#使用 index 引數名稱,排序資料
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
states = ['花蓮','高雄', '台中', '台北']
objS4 = pd.Series(sdata, index=states)
objS4

花蓮        NaN
高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [26]:
pd.isnull(objS4)

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [27]:
pd.notnull(objS4)

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [28]:
objS4[pd.notnull(objS4)]

高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [29]:
objS4.isnull()

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [30]:
objS4.notnull()

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [31]:
objS4[objS4.notnull()]

高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [32]:
objS3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [33]:
objS4

花蓮        NaN
高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [34]:
objS3 + objS4

台中    32000.0
台北    70000.0
桃園        NaN
花蓮        NaN
高雄    10000.0
dtype: float64

In [35]:
#Series的index物件可以被更換的
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [36]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [38]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [54]:
import csv
import pandas as pd

with open('新北市食品工廠清冊.csv','r',encoding='utf-8') as file:
    file.readline()
    rows = csv.reader(file)
    #rows這reader暫存檔可以被for in 一筆一筆的讀出
    #因為要建立Dictionary,Dictionary Comprehension
    newDict = {row[1]:row[0] for row in rows}
    
store = pd.Series(newDict)
store.name = '工廠統編清冊'
store.index.name = '統一編號'
store

統一編號
99611344             鴻輝食品廠
99604192       廣達香食品股份有限公司
99613990             順發糧食行
99600477      台灣塩野香料股份有限公司
99606467      圓金釀造食品股份有限公司
                 ...
65007117    元茂農產企業股份有限公司二廠
65007172         萬寶客股份有限公司
65007211          昆帝食品有限公司
65007246       嚐鱻食品有限公司板橋廠
65007247          崴欣國際有限公司
Name: 工廠統編清冊, Length: 1232, dtype: object

In [58]:
#pd.Series.sort_index(store)
store=store.sort_index()
store

統一編號
01000070           小潘蛋糕坊
01000084    國鼎生物科技股份有限公司
01000112        大新食品有限公司
01000119        佑善生技有限公司
01000129        松村實業有限公司
                ...
T6500641         普光傳統豆腐店
T6500647           山井食品行
T6500656           柏源盛商行
T6500666         名品客家美食行
T6500672        台品興業有限公司
Name: 工廠統編清冊, Length: 1232, dtype: object

In [60]:
store['01000070':'01000129']

統一編號
01000070           小潘蛋糕坊
01000084    國鼎生物科技股份有限公司
01000112        大新食品有限公司
01000119        佑善生技有限公司
01000129        松村實業有限公司
Name: 工廠統編清冊, dtype: object

In [61]:
#DataFrame
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [65]:
frame[:5]

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5

In [66]:
frame[-5:]

   縣市    年份   人口
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [67]:
#pd.DataFrame(,columns=)
#如果指定引數名稱columns,則DataFrame欄位名稱將依照columns的順序排列
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
pd.DataFrame(data,columns=['年份','人口','縣市'])

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [68]:
#pd.DataFrame(,columns=,index=)
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
frame2 = pd.DataFrame(data, 
                      columns=['年份', '縣市', '人口', '負債'],
                      index=['one', 'two', 'three', 'foru', 'five', 'six'])
frame2

         年份  縣市   人口   負債
one    2000  台北  2.2  NaN
two    2001  台北  2.5  NaN
three  2002  台北  2.7  NaN
foru   2001  新竹  1.1  NaN
five   2002  新竹  1.5  NaN
six    2003  新竹  2.0  NaN

In [71]:
frame2['年份']

one      2000
two      2001
three    2002
foru     2001
five     2002
six      2003
Name: 年份, dtype: int64

In [72]:
frame2['縣市']

one      台北
two      台北
three    台北
foru     新竹
five     新竹
six      新竹
Name: 縣市, dtype: object

In [73]:
frame2[0:2]

       年份  縣市   人口   負債
one  2000  台北  2.2  NaN
two  2001  台北  2.5  NaN

In [74]:
frame2.年份

one      2000
two      2001
three    2002
foru     2001
five     2002
six      2003
Name: 年份, dtype: int64