In [7]:
import pandas as pd
import numpy as np
#排序索引
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [8]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [9]:
obj.sort_index(axis=0)

a    1
b    2
c    3
d    0
dtype: int64

In [10]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [12]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [13]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [14]:
#排序內容
#sort_values()
obj = pd.Series([4, 7, -3, 2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [15]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [16]:
frame = pd.DataFrame({'b':[4, 7, -3, 2], 'a':[0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [18]:
frame.sort_values(by='a')

   b  a
0  4  0
2 -3  0
1  7  1
3  2  1

In [23]:
#排名
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj=obj.rank(method='first')
obj.sort_values()

1    1.0
5    2.0
4    3.0
3    4.0
6    5.0
0    6.0
2    7.0
dtype: float64