In [3]:
text = '''python與中文
1. 我們來試試看中文儲存能力。
2. 許這個字會有編碼衝突風險。
3. 犇這個字必須是utf8編碼才有。'''

openFile = open('data.txt','w',encoding='utf-8')
openFile.write(text)
openFile.close()

In [6]:
no = 1
scores = dict()
while True:
    score = int(input('請輸入第{:d}號的成績:(-1結束)'.format(no)))
    if score == -1:
        break;
    scores[no] = score
    no += 1
    
str(scores)
writeFile = open('score.txt','w')
writeFile.write(str(scores))
writeFile.close()

請輸入第1號的成績:(-1結束)89
請輸入第2號的成績:(-1結束)78
請輸入第3號的成績:(-1結束)90
請輸入第4號的成績:(-1結束)67
請輸入第5號的成績:(-1結束)78
請輸入第6號的成績:(-1結束)-1

In [8]:
readFile = open('data.txt',encoding='utf-8')
content = readFile.read()
print(content)

python與中文
1. 我們來試試看中文儲存能力。
2. 許這個字會有編碼衝突風險。
3. 犇這個字必須是utf8編碼才有。

In [19]:
import csv
import pandas as pd

readFile = open('ex1.csv')
readFile.readline()#先讀一行

rows = csv.reader(readFile)
rowsList = list(rows)

pd.DataFrame(rowsList)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [29]:
import csv
readFile = open('各鄉鎮市區人口密度.csv',encoding='utf-8')
readFile.readline()
readFile.readline()
rows = csv.reader(readFile)
poplist = []
for row in rows:
    if row[0] == '106':
         poplist.append(row)    
poplist

import pandas as pd
pd.DataFrame(poplist)

       0       1       2        3      4
0    106  新北市板橋區  551480  23.1373  23835
1    106  新北市三重區  387484   16.317  23747
2    106  新北市中和區  413590   20.144  20532
3    106  新北市永和區  222585   5.7138  38956
4    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
365  106  連江縣北竿鄉    2360      9.9    238
366  106  連江縣莒光鄉    1624      4.7    346
367  106  連江縣東引鄉    1352      3.8    356
368  106    東沙群島      …      2.38     …
369  106    南沙群島      …    0.5045     …

[370 rows x 5 columns]