In [8]:
import pandas as pd
objS = pd.Series([4, 7, -5, 3]) #執行Series初始化動作
type(obj)

pandas.core.series.Series

In [9]:
import numpy as np
array = np.array([4, 7, -5, 3])#numpy top_level function
type(array)

numpy.ndarray

In [13]:
objS

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
objS.values #values是實體屬性

array([ 4,  7, -5,  3])

In [11]:
objS.dtype #dtype是實體屬性

dtype('int64')

In [12]:
objS.index #index是實體屬性

RangeIndex(start=0, stop=4, step=1)

In [14]:
objS2 = pd.Series([4, 7, -5, 3],index=['d', 'b', 'a' ,'c'])
objS2

d    4
b    7
a   -5
c    3
dtype: int64

In [15]:
objS2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [16]:
objS2['d']

4

In [17]:
objS2[['d','a','c']]

d    4
a   -5
c    3
dtype: int64

In [18]:
#數學運算
objS2

d    4
b    7
a   -5
c    3
dtype: int64

In [19]:
objS2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [21]:
#過濾資料
objS2[objS2 > 0]

d    4
b    7
c    3
dtype: int64

In [23]:
#numpy的function也可以用在pandas的實體
import numpy as np
np.power(objS2, 2)

d    16
b    49
a    25
c     9
dtype: int64

In [24]:
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
objS3 = pd.Series(sdata)
objS3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [25]:
#使用 index 引數名稱,排序資料
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
states = ['花蓮','高雄', '台中', '台北']
objS4 = pd.Series(sdata, index=states)
objS4

花蓮        NaN
高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [26]:
pd.isnull(objS4)

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [27]:
pd.notnull(objS4)

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [28]:
objS4[pd.notnull(objS4)]

高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [29]:
objS4.isnull()

花蓮     True
高雄    False
台中    False
台北    False
dtype: bool

In [30]:
objS4.notnull()

花蓮    False
高雄     True
台中     True
台北     True
dtype: bool

In [31]:
objS4[objS4.notnull()]

高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [32]:
objS3

台北    35000
桃園    71000
台中    16000
高雄     5000
dtype: int64

In [33]:
objS4

花蓮        NaN
高雄     5000.0
台中    16000.0
台北    35000.0
dtype: float64

In [34]:
objS3 + objS4

台中    32000.0
台北    70000.0
桃園        NaN
花蓮        NaN
高雄    10000.0
dtype: float64

In [35]:
#Series的index物件可以被更換的
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [36]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [38]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [52]:
import csv
import pandas as pd

with open('新北市食品工廠清冊.csv','r',encoding='utf-8') as file:
    file.readline()
    rows = csv.reader(file)
    #rows這reader暫存檔可以被for in 一筆一筆的讀出
    #因為要建立Dictionary,Dictionary Comprehension
    newDict = {row[1]:row[0] for row in rows}
    
store = pd.Series(newDict)
store.name = '工廠統編清冊'
store.index

Index(['99611344', '99604192', '99613990', '99600477', '99606467', '99605140',
       '99606303', '99618950', '99615941', '99689303',
       ...
       '65006932', '65006940', '65006991', '65006992', '65007005', '65007117',
       '65007172', '65007211', '65007246', '65007247'],
      dtype='object', length=1232)