In [2]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                   'data1':range(7)})
df2 = pd.DataFrame({'key':['a', 'b', 'd'],
                   'data2':range(3)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [3]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [5]:
pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [6]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [7]:
#pd.concat()
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
s1

a    0
b    1
dtype: int64

In [8]:
s2

c    2
d    3
e    4
dtype: int64

In [9]:
s3

f    5
g    6
dtype: int64

In [10]:
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [11]:
#DataFrame的concat
df1 = pd.DataFrame(np.arange(6).reshape(3, 2),
                   index=['a', 'b', 'c'],
                   columns=['one','two'])
df2 = pd.DataFrame(np.arange(4).reshape(2, 2),
                   index=['a', 'c'],
                   columns=['three','four'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [12]:
df2

   three  four
a      0     1
c      2     3

In [15]:
pd.concat([df1, df2],axis=1,sort=False)

   one  two  three  four
a    0    1    0.0   1.0
b    2    3    NaN   NaN
c    4    5    2.0   3.0

In [19]:
#homework2
#使用pd.concat()

#openWeatherMap api
#Taipei:1668341
#Taichung:1668399
#Pingtung:16704818

import pandas as pd
import requests

url = 'http://api.openweathermap.org/data/2.5/group?id=1668341,1668399,1670481&units=metric&appid=29c4f184354b9889e87f7b494ac86aed'
resp = requests.get(url)
weatherData = resp.json()
weatherDict = {}
lon = []
lat = []
temp = []
humidity = []
name = []
for item in weatherData['list']:
    lon.append(item['coord']['lon'])
    lat.append(item['coord']['lat'])
    temp.append(item['main']['temp'])
    humidity.append(item['main']['humidity'])
    name.append(item['name'])

weatherDict['城市'] = name
weatherDict['緯度'] = lat
weatherDict['經度'] = lon
weatherDict['攝氏'] = temp
weatherDict['溼度'] = humidity
weatherDict

{'城市': ['Taipei', 'Taichung', 'Pingtung'],
 '緯度': [25.05, 24.15, 22.67],
 '經度': [121.53, 120.68, 120.49],
 '攝氏': [30.2, 29.21, 29.23],
 '溼度': [70, 78, 70]}

In [21]:
weatherDataFrame1 = pd.DataFrame(weatherDict,columns=['攝氏','溼度'],index=weatherDict['城市'])
weatherDataFrame1

             攝氏  溼度
Taipei    30.20  70
Taichung  29.21  78
Pingtung  29.23  70