In [3]:
import numpy as np
import pandas as pd

#pandas的基礎操作
#使用reindex()利用重新建立索引產生新的資料集
obj=pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
obj.reindex(['a', 'c', 'd', 'e'])

a   -5.3
c    3.6
d    4.5
e    NaN
dtype: float64

In [10]:
#dataFrame也有reindex()
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index=['a', 'c', 'd'],
                    columns=['台北', '台中', '高雄'])
frame.reindex(['a','d','c'])

   台北  台中  高雄
a   0   1   2
d   6   7   8
c   3   4   5

In [11]:
frame.reindex(['a', 'd'])

   台北  台中  高雄
a   0   1   2
d   6   7   8

In [12]:
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [14]:
frame.reindex(columns=['台北','台中'])

   台北  台中
a   0   1
c   3   4
d   6   7