In [1]:
import sqlite3

In [3]:
sqlQuery = """
CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
"""
con=sqlite3.connect('mydata.sqlite')
con.execute(sqlQuery)
con.commit()

In [5]:
data = [
    ('Atlanta', 'Georgia', 1.25, 6),
    ('Tallahassee', 'Florida', 2.6, 3),
    ('Sacramento', 'California', 1.7, 5)
]
sqlQuery1 = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(sqlQuery1, data)
con.commit()

In [ ]:
#讀取資料