In [1]:
import numpy as np
import pandas as pd

string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [2]:
string_data[0] = None
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [3]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [4]:
string_data.notnull()

0    False
1     True
2    False
3     True
dtype: bool

In [6]:
#過濾的語法,刪除是null的欄位
string_data[string_data.notnull()]

1    artichoke
3      avocado
dtype: object

In [7]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [8]:
string_data.dropna()

1    artichoke
3      avocado
dtype: object

In [9]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [10]:
string_data.fillna('空的')

0           空的
1    artichoke
2           空的
3      avocado
dtype: object

In [11]:
data = pd.DataFrame({'食物':['培根','豬肉','培根','熏牛肉','咸牛肉','培根','熏牛肉','蜂蜜火腿','熏鮭魚'],
                    '重量':[4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

     食物    重量
0    培根   4.0
1    豬肉   3.0
2    培根  12.0
3   熏牛肉   6.0
4   咸牛肉   7.5
5    培根   8.0
6   熏牛肉   3.0
7  蜂蜜火腿   5.0
8   熏鮭魚   6.0

In [14]:
mean_to_animal = {
   '培根':'豬',
    '豬肉':'豬',
    '熏牛肉':'牛',
    '咸牛肉':'牛',
    '蜂蜜火腿':'豬',
    '熏鮭魚':'鮭魚'
}

In [16]:

data['食物']

0      培根
1      豬肉
2      培根
3     熏牛肉
4     咸牛肉
5      培根
6     熏牛肉
7    蜂蜜火腿
8     熏鮭魚
Name: 食物, dtype: object

In [17]:
data['食物'].map(mean_to_animal)

0     豬
1     豬
2     豬
3     牛
4     牛
5     豬
6     牛
7     豬
8    鮭魚
Name: 食物, dtype: object

In [18]:
data['動物'] = data['食物'].map(mean_to_animal)

In [19]:
data

     食物    重量  動物
0    培根   4.0   豬
1    豬肉   3.0   豬
2    培根  12.0   豬
3   熏牛肉   6.0   牛
4   咸牛肉   7.5   牛
5    培根   8.0   豬
6   熏牛肉   3.0   牛
7  蜂蜜火腿   5.0   豬
8   熏鮭魚   6.0  鮭魚