In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.714396  0.320416
1    a  two  2.335343  0.975944
2    b  one  0.503651  2.054965
3    b  two -0.175467 -1.674068
4    a  one -2.296380  0.691503

In [5]:
grouped=df.groupby('key1')
groupedDict=dict(list(grouped))

In [6]:
groupedDict['a']

  key1 key2     data1     data2
0    a  one -0.714396  0.320416
1    a  two  2.335343  0.975944
4    a  one -2.296380  0.691503

In [7]:
groupedDict['b']

  key1 key2     data1     data2
2    b  one  0.503651  2.054965
3    b  two -0.175467 -1.674068