In [1]:
#階層式索引
import numpy as np
import pandas as pd
data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.094127
   2    0.269784
   3    2.088533
b  1    0.008400
   2    0.464067
c  3   -0.981537
   1   -1.538346
d  2   -0.823106
   3    0.184817
dtype: float64

In [2]:
data['d']

2   -0.823106
3    0.184817
dtype: float64

In [3]:
data['b':'c']

b  1    0.008400
   2    0.464067
c  3   -0.981537
   1   -1.538346
dtype: float64

In [4]:
#loc[外部標籤,內部標籤]
data.loc[:,2]

a    0.269784
b    0.464067
d   -0.823106
dtype: float64

In [5]:
data

a  1    0.094127
   2    0.269784
   3    2.088533
b  1    0.008400
   2    0.464067
c  3   -0.981537
   1   -1.538346
d  2   -0.823106
   3    0.184817
dtype: float64

In [13]:
newDataFrame=data.unstack().fillna(0)
newDataFrame

          1         2         3
a  0.094127  0.269784  2.088533
b  0.008400  0.464067  0.000000
c -1.538346  0.000000 -0.981537
d  0.000000 -0.823106  0.184817

In [12]:
newDataFrame.stack()

a  1    0.094127
   2    0.269784
   3    2.088533
b  1    0.008400
   2    0.464067
   3    0.000000
c  1   -1.538346
   2    0.000000
   3   -0.981537
d  1    0.000000
   2   -0.823106
   3    0.184817
dtype: float64