In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.738962 -0.441203
1    a  two -1.680433 -0.144071
2    b  one  0.770785 -0.073775
3    b  two -0.427515 -0.596641
4    a  one  0.199539 -1.039488