In [7]:
import pandas as pd
import numpy as np
#排序索引
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [8]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [9]:
obj.sort_index(axis=0)

a    1
b    2
c    3
d    0
dtype: int64

In [10]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                    index = ['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [12]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [13]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [14]:
#排序內容
#sort_values()
obj = pd.Series([4, 7, -3, 2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [15]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [16]:
frame = pd.DataFrame({'b':[4, 7, -3, 2], 'a':[0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [18]:
frame.sort_values(by='a')

   b  a
0  4  0
2 -3  0
1  7  1
3  2  1

In [23]:
#排名
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj=obj.rank(method='first')
obj.sort_values()

1    1.0
5    2.0
4    3.0
3    4.0
6    5.0
0    6.0
2    7.0
dtype: float64

In [27]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank(method='first',ascending=False)

0    1.0
1    7.0
2    2.0
3    3.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [28]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#python的Dictionary
data = {'年廣告費投入':[12.5, 15.3, 23.2, 26.4, 33.5, 34.4, 39.4, 45.2, 55.4, 60.9],
            '月均銷售額':[21.2, 23.9, 32.9, 34.1, 42.5, 43.2, 49.0, 52.8, 59.4, 63.5]}
#dataFrame
dataFrame = pd.DataFrame(data,index=[2020,2019,2018,2017,2016,2015,2014,2013,2012,2011])
dataFrame

      年廣告費投入  月均銷售額
2020    12.5   21.2
2019    15.3   23.9
2018    23.2   32.9
2017    26.4   34.1
2016    33.5   42.5
2015    34.4   43.2
2014    39.4   49.0
2013    45.2   52.8
2012    55.4   59.4
2011    60.9   63.5

In [30]:
dataFrame1 = dataFrame.sort_index()
dataFrame1

      年廣告費投入  月均銷售額
2011    60.9   63.5
2012    55.4   59.4
2013    45.2   52.8
2014    39.4   49.0
2015    34.4   43.2
2016    33.5   42.5
2017    26.4   34.1
2018    23.2   32.9
2019    15.3   23.9
2020    12.5   21.2

In [31]:
dataFrame1.values

array([[60.9, 63.5],
       [55.4, 59.4],
       [45.2, 52.8],
       [39.4, 49. ],
       [34.4, 43.2],
       [33.5, 42.5],
       [26.4, 34.1],
       [23.2, 32.9],
       [15.3, 23.9],
       [12.5, 21.2]])

In [32]:
plt.plot(dataFrame1.values, 'ko--')

[<matplotlib.lines.Line2D at 0x7ff5c0bae190>,
 <matplotlib.lines.Line2D at 0x7ff5d0ddd690>]

In [33]:
correlation = dataFrame1['年廣告費投入'].corr(dataFrame1['月均銷售額'])
#相關係數
correlation

0.9941983762371882

In [36]:
import pandas_datareader.data as web
web.get_data_yahoo('AAPL')

                  High         Low        Open       Close      Volume  \
Date
2015-06-05  129.690002  128.360001  129.500000  128.649994  35626800.0
2015-06-08  129.210007  126.830002  128.899994  127.800003  52674800.0
2015-06-09  128.080002  125.620003  126.699997  127.419998  56075400.0
2015-06-10  129.339996  127.849998  127.919998  128.880005  39087300.0
2015-06-11  130.179993  128.479996  129.179993  128.589996  35390900.0
...                ...         ...         ...         ...         ...
2020-05-28  323.440002  315.630005  316.769989  318.250000  33390200.0
2020-05-29  321.149994  316.470001  319.250000  317.940002  38399500.0
2020-06-01  322.350006  317.209991  317.750000  321.850006  20197800.0
2020-06-02  323.440002  318.929993  320.750000  323.339996  21910700.0
2020-06-03  326.200012  322.299988  324.660004  325.119995  26101800.0

             Adj Close
Date
2015-06-05  118.564957
2015-06-08  117.781601
2015-06-09  117.431381
2015-06-10  118.776917
2015-06-11  118.509666
...                ...
2020-05-28  318.250000
2020-05-29  317.940002
2020-06-01  321.850006
2020-06-02  323.339996
2020-06-03  325.119995

[1258 rows x 6 columns]

In [39]:
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
all_data

{'AAPL':                   High         Low        Open       Close      Volume  \
 Date
 2015-06-05  129.690002  128.360001  129.500000  128.649994  35626800.0
 2015-06-08  129.210007  126.830002  128.899994  127.800003  52674800.0
 2015-06-09  128.080002  125.620003  126.699997  127.419998  56075400.0
 2015-06-10  129.339996  127.849998  127.919998  128.880005  39087300.0
 2015-06-11  130.179993  128.479996  129.179993  128.589996  35390900.0
 ...                ...         ...         ...         ...         ...
 2020-05-28  323.440002  315.630005  316.769989  318.250000  33390200.0
 2020-05-29  321.149994  316.470001  319.250000  317.940002  38399500.0
 2020-06-01  322.350006  317.209991  317.750000  321.850006  20197800.0
 2020-06-02  323.440002  318.929993  320.750000  323.339996  21910700.0
 2020-06-03  326.200012  322.299988  324.660004  325.119995  26101800.0

              Adj Close
 Date
 2015-06-05  118.564957
 2015-06-08  117.781601
 2015-06-09  117.431381
 2015-06-10  118.776917
 2015-06-11  118.509666
 ...                ...
 2020-05-28  318.250000
 2020-05-29  317.940002
 2020-06-01  321.850006
 2020-06-02  323.339996
 2020-06-03  325.119995

 [1258 rows x 6 columns],
 'IBM':                   High         Low        Open       Close     Volume  \
 Date
 2015-06-05  168.910004  167.199997  168.250000  167.399994  3100500.0
 2015-06-08  167.279999  165.020004  167.169998  165.339996  3758700.0
 2015-06-09  166.020004  163.369995  165.339996  165.679993  3395900.0
 2015-06-10  169.389999  166.059998  166.490005  168.919998  4680500.0
 2015-06-11  170.440002  168.539993  169.259995  168.779999  3464000.0
 ...                ...         ...         ...         ...        ...
 2020-05-28  126.970001  124.220001  126.870003  124.529999  3915300.0
 2020-05-29  125.129997  122.239998  123.669998  124.900002  7930500.0
 2020-06-01  125.750000  124.029999  124.639999  124.889999  2871700.0
 2020-06-02  126.000000  124.660004  125.669998  126.000000  2978100.0
 2020-06-03  129.600006  127.000000  127.150002  129.050003  3914300.0

              Adj Close
 Date
 2015-06-05  134.691132
 2015-06-08  133.033630
 2015-06-09  133.307190
 2015-06-10  135.914154
 2015-06-11  135.801468
 ...                ...
 2020-05-28  124.529999
 2020-05-29  124.900002
 2020-06-01  124.889999
 2020-06-02  126.000000
 2020-06-03  129.050003

 [1258 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2015-06-05   46.520000   45.840000   46.310001   46.139999  25438100.0
 2015-06-08   46.430000   45.669998   46.299999   45.730000  22121600.0
 2015-06-09   45.939999   45.459999   45.759998   45.650002  24406100.0
 2015-06-10   46.830002   45.689999   45.790001   46.610001  28417400.0
 2015-06-11   46.919998   46.130001   46.660000   46.439999  27347800.0
 ...                ...         ...         ...         ...         ...
 2020-05-28  184.149994  180.380005  180.740005  181.399994  33810200.0
 2020-05-29  184.270004  180.410004  182.729996  183.250000  42146700.0
 2020-06-01  183.000000  181.460007  182.539993  182.830002  22622400.0
 2020-06-02  185.000000  181.350006  184.250000  184.910004  30794600.0
 2020-06-03  185.940002  183.580002  184.820007  185.360001  27277400.0

              Adj Close
 Date
 2015-06-05   41.757805
 2015-06-08   41.386757
 2015-06-09   41.314346
 2015-06-10   42.183174
 2015-06-11   42.029312
 ...                ...
 2020-05-28  181.399994
 2020-05-29  183.250000
 2020-06-01  182.830002
 2020-06-02  184.910004
 2020-06-03  185.360001

 [1258 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close   Volume  \
 Date
 2015-06-05   537.200012   532.520020   536.349976   533.330017  1388200
 2015-06-08   534.119995   526.239990   533.309998   526.830017  1520600
 2015-06-09   529.200012   523.010010   527.559998   526.690002  1455300
 2015-06-10   538.359985   529.349976   529.359985   536.690002  1815000
 2015-06-11   538.979980   533.020020   538.424988   534.609985  1217500
 ...                 ...          ...          ...          ...      ...
 2020-05-28  1440.839966  1396.000000  1396.859985  1416.729980  1692200
 2020-05-29  1432.569946  1413.349976  1416.939941  1428.920044  1838100
 2020-06-01  1437.959961  1418.000000  1418.390015  1431.819946  1217100
 2020-06-02  1439.609985  1418.829956  1430.550049  1439.219971  1278100
 2020-06-03  1446.552002  1429.776978  1438.300049  1436.380005  1255300

               Adj Close
 Date
 2015-06-05   533.330017
 2015-06-08   526.830017
 2015-06-09   526.690002
 2015-06-10   536.690002
 2015-06-11   534.609985
 ...                 ...
 2020-05-28  1416.729980
 2020-05-29  1428.920044
 2020-06-01  1431.819946
 2020-06-02  1439.219971
 2020-06-03  1436.380005

 [1258 rows x 6 columns]}

In [40]:
price = pd.DataFrame({ticker:data['Adj Close']for ticker, data in all_data.items()})
price

                  AAPL         IBM        MSFT         GOOG
Date
2015-06-05  118.564957  134.691132   41.757805   533.330017
2015-06-08  117.781601  133.033630   41.386757   526.830017
2015-06-09  117.431381  133.307190   41.314346   526.690002
2015-06-10  118.776917  135.914154   42.183174   536.690002
2015-06-11  118.509666  135.801468   42.029312   534.609985
...                ...         ...         ...          ...
2020-05-28  318.250000  124.529999  181.399994  1416.729980
2020-05-29  317.940002  124.900002  183.250000  1428.920044
2020-06-01  321.850006  124.889999  182.830002  1431.819946
2020-06-02  323.339996  126.000000  184.910004  1439.219971
2020-06-03  325.119995  129.050003  185.360001  1436.380005

[1258 rows x 4 columns]

In [41]:
returns = price.pct_change()

                AAPL       IBM      MSFT      GOOG
Date
2015-06-05       NaN       NaN       NaN       NaN
2015-06-08 -0.006607 -0.012306 -0.008886 -0.012188
2015-06-09 -0.002973  0.002056 -0.001750 -0.000266
2015-06-10  0.011458  0.019556  0.021030  0.018987
2015-06-11 -0.002250 -0.000829 -0.003647 -0.003876
...              ...       ...       ...       ...
2020-05-28  0.000440 -0.008045 -0.002255 -0.000783
2020-05-29 -0.000974  0.002971  0.010198  0.008604
2020-06-01  0.012298 -0.000080 -0.002292  0.002029
2020-06-02  0.004629  0.008888  0.011377  0.005168
2020-06-03  0.005505  0.024206  0.002434 -0.001973

[1258 rows x 4 columns]